<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Calendar</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        {% block stylesheets %}
            {% stylesheets
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/css/bootstrap.css'
                '%kernel.root_dir%/../vendor/twitter/bootstrap/docs/assets/css/bootstrap-responsive.css'
                '%kernel.root_dir%/../web/css/jquery-ui-1.8.16.custom.css'
                '%kernel.root_dir%/../web/css/jquery.ui.1.8.16.ie.css'
                '@VZCalendarBundle/Resources/public/css/calendar.css'
                output='assetic/*.css'
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">{{ "vz_calendar" | trans() }}</a>
          <div class="nav-collapse">
            {% if app.user.hasRole("ROLE_ADMIN") %}
            {{ knp_menu_render('VZCalendarBundle:Builder:adminMenu', { 'template': 'VZCalendarBundle:Index:menu.html.twig', 'currentClass': 'active' }) }}
            {% else %}
            {{ knp_menu_render('VZCalendarBundle:Builder:mainMenu', { 'template': 'VZCalendarBundle:Index:menu.html.twig', 'currentClass': 'active' }) }}
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="span12">
            {% block content %}{% endblock %}
        </div>
      </div>

      <hr>

      <footer>
          <p>Vanzoo 2012 :: Version 0.8.4</p>
      </footer>

    </div> <!-- /container -->

    {% block javascripts %}
        {% javascripts
            '%kernel.root_dir%/../vendor/jquery/jquery/jquery-1.7.2.min.js'
            '%kernel.root_dir%/../vendor/jquery/jquery-ui/jquery-ui.js'
            '%kernel.root_dir%/../vendor/jquery/jquery-ui/jquery.ui.datepicker-de.js'
            '@VZCalendarBundle/Resources/public/js/*'  output='assetic/*.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    <script type="text/javascript">
        $(function() {
            $('.date').datepicker({ dateFormat: 'dd.mm.yy', minDate: "+1D", maxDate: "+1Y" })
        });
    </script>
    {% endblock %}
    </body>
</html>
