{% extends "VZCalendarBundle::layout.html.twig" %}

{% block content %}

{% if events|length > 0 %}
    {# display event number 1 as a hero and the rest as lists #}
    <div class="hero-unit">
      <h1>{{ "next_event" | trans() }} {{ events.0.startDate|date('d.m.Y') }}</h1>
      <h2>{{ events.0.summary }} {{ events.0.startTime|date('H:i') }}</h2>
      <p>{{ events.0.details }}</p>
      <p>{{ events.0.totalSlots - events.0.usedSlots }}</p>
      <p>
    {% if app.user and events.0.checkAttendee(app.user) %}
        <a class="btn btn-primary btn-large" href="{{ path("vz_calendar_eventuser_delete", { 'eventId': events.0.id }) }}">
            {{ "unsign_up" | trans() }}
        </a>
    {% elseif app.user %}
          <a class="btn btn-primary btn-large" href="{{ path("vz_calendar_eventuser_create", { 'eventId': events.0.id }) }}">

              {{ "sign_up" | trans() }}
          </a>
    {% endif %}
      </p>
    </div>
    {% if events|length > 1 %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{{ "event_summary" | trans() }}</th>
                <th>{{ "event_start" | trans() }}</th>
                <th>{{ "free_slots" | trans() }}</th>
                <th>{{ "event_actions" | trans() }}</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            {# skip the first one #}
            {% if loop.first %}
            {% else %}
        <tr>
            <td>{{ event.summary }}</td>
            <td>{{ event.startDate|date('d.m.Y') }} {{ event.startTime|date('H:i') }}</td>
            <td>{{ event.totalSlots - event.usedSlots }}</td>
            <td>
                {% if app.user and event.checkAttendee(app.user) %}
                <a class="btn btn-primary" href="{{ path("vz_calendar_eventuser_delete", { 'eventId': event.id }) }}">
                    {{ "unsign_up" | trans() }}
                </a>
                {% elseif app.user %}
                <a class="btn btn-primary" href="{{ path("vz_calendar_eventuser_create", { 'eventId': event.id }) }}">
                    {{ "sign_up" | trans() }}
                </a>
                {% endif %}
            </td>
        </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% endif %}
{% else %}
    <h1>{{ "no_events_found" | trans() }}</h1>
{% endif %}

{% endblock %}





